<GameInfo>
	<Parameters>
		<Row ParameterId="GameMode_ZEvent2022" Name="LOC_GAMEMODE_ZEVENT2022_NAME" Description="LOC_GAMEMODE_ZEVENT2022_DESCRIPTION" Domain="bool" DefaultValue="0" ConfigurationGroup="Game" ConfigurationId="GAMEMODE_ZEVENT2022" NameArrayConfigurationId="GAMEMODES_ENABLED_NAMES" GroupId="GameModes" SortIndex="130"  SupportsSinglePlayer="1" Visible="1" />
	</Parameters>

	<GameModeItems>
		<Row GameModeType="GAMEMODE_ZEVENT2022" Name="LOC_GAMEMODE_ZEVENT2022_NAME" Description="LOC_GAMEMODE_ZEVENT2022_DESCRIPTION" Portrait="OneCity_Portrait.dds" Background="OneCity_Background.dds" Icon="ICON_GAMEMODE_ZEVENT2022" SortIndex="420" />
	</GameModeItems>

	<ParameterDependencies>
		<!-- OCC -->
		<Row ParameterId="GameMode_ZEvent2022" ConfigurationGroup="Game" ConfigurationId="RULESET" Operator="Equals" ConfigurationValue="RULESET_EXPANSION_2"/>
		<Row ParameterId="GameMode_ZEvent2022" ConfigurationGroup="Game" ConfigurationId="WORLD_BUILDER" Operator="NotEquals" ConfigurationValue="1"/>
	</ParameterDependencies>

	<ConfigurationUpdates>
		<!-- OCC -->
		<Row SourceGroup="Game" SourceId="GAMEMODE_ZEVENT2022" SourceValue="1" TargetGroup="Game" TargetId="GAME_START_ERA" TargetValue="ERA_ANCIENT"  Static="1"/>
		<Row SourceGroup="Game" SourceId="GAMEMODE_ZEVENT2022" SourceValue="1" TargetGroup="Game" TargetId="GAME_NO_BARBARIANS" TargetValue="1" Static="1"/>
	</ConfigurationUpdates>

</GameInfo>